:root {
  --white: #fff;
  --gray100: #f8f9fa;
  --gray200: #f2f2f2;
  --gray300: #dee2e6;
  --gray400: #ced4da;
  --gray500: #adb5bd;
  --gray600: #6c757d;
  --gray700: #495057;
  --gray800: #343a40;
  --gray900: #212529;
  --black: #000;

  --surface: #fff;
  --error: rgb(176, 0, 32);

  --primaryLight: #ccc0fd;
  --primary: #7f6aff;
  --primaryDark: #1629f3;
  --secondaryLight: #e8c1fe;
  --secondary: #c86aff;
  --secondaryDark: #7d1fe6;
  --text-primary: rgba(255, 255, 255, 0.6);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-surface: #000;

  --gold: #fbc02d;
  --silver: #9e9e9e;
  --bronze: #bf360c;

  --shadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow3: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  --spacing-none: 0;
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}
